.kanban-card-template .e-card table {
  table-layout: fixed;
}

.kanban-card-template .e-card .e-time {
  display: inline-flex;
}

.kanban-card-template .e-card .e-size {
  color: #b8860b
}

.kanban-card-template .e-card .e-mins {
  padding-left: 3px;
}

.kanban-card-template .e-card .e-clock {
  padding-top: 2px;
}

.kanban-card-template .e-card .e-clock::before {
  content: '\e20c';
  color: #ffa500;
  font-size: 10px;
}

.kanban-card-template .e-card .e-done::before {
  content: '\ea84';
  color: #008000;
  font-size: 16px;
}

.fabric .kanban-card-template .e-card .e-clock::before {
  content: '\e97f';
}

.bootstrap .kanban-card-template .e-card .e-clock::before {
  content: '\e93e';
}

.bootstrap4 .kanban-card-template .e-card .e-clock::before {
  content: '\e7c7';
}

.bootstrap4 .kanban-card-template .e-card .e-done::before {
  content: '\e7d9';
}

.highcontrast .kanban-card-template .e-card .e-clock::before {
  content: '\e97f';
}

.kanban-card-template .e-card .card-template-wrap {
  line-height: normal;
  font-size: 12px;
  width: 100%;
}

.kanban-card-template .e-card .card-template-wrap td {
  background: none !important;
  border: none !important;
  height: auto !important;
  line-height: 1.6;
}

.kanban-card-template .e-card .e-image img {
  background: #ececec;
  border-radius: 50%;
  width: 45px;
  height: 45px;
}

.kanban-card-template .e-card .e-image {
  padding-right: 5px;
  padding-left: 10px;
}

.kanban-card-template .e-card .card-header {
  font-size: 15px;
  font-weight: 500;
  display: inline-block;
}

.kanban-card-template .e-card .card-content {
  display: flex;
  justify-content: space-between;
}

.kanban-card-template .e-card .e-description {
  padding-top: 5px;
  padding-bottom: 10px;
}

.kanban-card-template .e-card .e-done {
  padding-top: 5px;
  padding-bottom: 10px;
  position: absolute;
  right: 15px;
}

.kanban-card-template .e-card .e-readyText {
  color: #008000;
}

.kanban-card-template .e-card .e-preparingText {
  color: #9ACD32;
  animation: blinker 1.5s linear infinite;
}

.kanban-card-template .e-card .e-deliveredText {
  color: #ff0000;
}

@keyframes blinker {
  50% {
    opacity: 0.5;
  }
}

.example-container {
  width: auto;
  max-width: 100%;
  margin: 0 25px 25px 0;
  display: inline-block;
  vertical-align: top;
}
e-kanban {  
  position: -webkit-sticky;
  position: sticky;
  z-index: 9999;
}

/* .example-list {
  border: solid 1px #ccc;
  min-height: 60px;
  background: white;
  border-radius: 4px;
  overflow: hidden;
  display: block;
} */
.example-list {
  border: solid 0px #ccc;
  min-height: 60px;
  background: white;
  border-radius: 4px;
  overflow: hidden;
  display: block;
 
}
.example-box {
  padding: 3px 3px;
  margin: 3px;
  display: flex;
  border-radius: 4px;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  cursor: cursor;
  background: white;
  font-size: 14px;
  background-color: #f1f4f457;
}
/* .example-box {
  padding: 3px 3px;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  cursor: cursor;
  background: white;
  font-size: 14px;
} */

.example-td {
  align-items: left;
}

.example-title {
  display: inline-block;
  max-width: 150px;
  color: #585858;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
}
.example-title-active {
  display: inline-block;
  max-width: 110px;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
}
@media (max-width: 992px) {
  .example-title {
      display: inline-block;
      max-width: 500px;
      white-space: nowrap;
      overflow: hidden !important;
      text-overflow: ellipsis;
    }
  }

  @media (max-width: 750px) {
    .example-title {
        display: inline-block;
        max-width: 160px;
        white-space: nowrap;
        overflow: hidden !important;
        text-overflow: ellipsis;
      }

      .example-title-active {
        display: inline-block;
        max-width: 110px;
        white-space: nowrap;
        overflow: hidden !important;
        text-overflow: ellipsis;
      }
    }
.example-indicators {
  display: inline-block;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  z-index: 10;
}

.inputtext {
  border: none;
  width: 100%;
  display: block;
  outline: none;
    font-size: 1rem;
    padding: 0.75rem 0.75rem;
}


.inputtext:focus {
  outline: none;
  border: none;
}

.selectdate{
  z-index: 50;
}


.example-list-create{
  border: none;
  min-height: 60px;
  background: white;
  border-radius: 4px;
  overflow: hidden;
  display: block;
}
.pending{
  color: rgba(231, 21, 21, 0.986);
  text-decoration:underline;
}

.subtask{
  z-index: 10;
}