<ejs-kanban
  class="pt-2"
  height="100%"
  weight="100%"
  keyField="task_status"
  [sortSettings]="sortSettings"
  [dataSource]="data | async"
  [cardSettings]="cardSettings"
  (dataStateChange)="dataStateChange($event)"
  (dataSourceChanged)="dataSourceChanged($event)"
  (dialogOpen)="dialogOpen($event)"

>
  <e-columns>
    <e-column headerText="To Do" keyField="pending"> </e-column>
    <e-column headerText="In Progress" keyField="active"></e-column>
    <e-column headerText="Done" keyField="done" allowDrag="false"></e-column>
    <e-column headerText="Unsheduled" keyField="unsheduled"></e-column>
  </e-columns>

  <ng-template #dialogSettingsTemplate let-data >
    <div class="field col-12 p-0 mb-0 mt-1">
      <div class="col-8 p-0">
        <p-dropdown
          [options]="status"
          [(ngModel)]="selectedStatus"
          optionLabel="task_status"
          placeholder="Update Status"
          optionValue="code"
          [showClear]="true"
        ></p-dropdown>
      </div>
    </div>

    <div class="p-fluid p-0">
      <div class="col-12 p-0">
        <input
          type="text"
          name="title"
          id="title"
          class="e-field inputtext"
          placeholder="Enter Title"
          value="{{ data.title }}"
        />
      </div>
      <hr class="m-0" />
      <div class="col-12 p-0 mt-2">
        <textarea
          rows="5"
          cols="32"
          placeholder="Add Description"
          class="e-field"
          pInputTextarea
          value="{{ data.description }}"
          name="description"
        ></textarea>
      </div>

      <div class="field col-12 mt-1 mb-0 p-0">
        <div class="col-8 p-0">
          <div style="display: flex; align-items: stretch; width: 100%">
            <input
              type="text"
              class="e-field inputtextsubtask"
              placeholder="Add Sub Task"
              name="subtaskele"
              [(ngModel)]="subtaskele"
              style="border-bottom: 1px #dfe7ef solid; border-radius: 0px"
            />
            <button
              type="button"
              class="p-button-text p-button-plain"
              pButton
              pRipple
              (click)="addSubTask(subtaskele)"
              icon="pi pi-plus"
            ></button>
          </div>
        </div>
      </div>
      <!-- Dailog SubTask -->
      <div class="field col-12 p-0 mt-1">
        <div class="example-list-create">
          <p-accordion [multiple]="true">
            <p-accordionTab header="SubTasks" [selected]="true">
              <div *ngIf="data.subtasklist?.length != 0">
                <!-- Remote UnChecked SubTask -->
                <div *ngFor="let item of data.subtasklist">
                  <div *ngIf="item.checked == false" class="example-box">
                    <div class="example-box flex justify-content-between">
                      <p-checkbox
                        name="groupname"
                        [(ngModel)]="item.checked"
                        [binary]="true"
                        (onChange)="onChange(item.checked)"
                      ></p-checkbox>
                    </div>

                    <div class="example-td mr-auto">
                      <span class="text-900 font-medium text-md example-title">
                        {{ item.stitle }} </span
                      >
                    </div>
                  </div>
                </div>
              </div>
                <!-- Local UnChecked SubTask -->
              <div *ngIf="subTask?.length != 0">
                  <div *ngFor="let item of subTask">
                    <div *ngIf="item.checked == false" class="example-box">
                      <div class="example-box flex justify-content-between">
                        <p-checkbox
                          name="groupname"
                          [(ngModel)]="item.checked"
                          [binary]="true"
                        ></p-checkbox>
                      </div>

                      <div class="example-td mr-auto">
                        <span
                          class="text-900 font-medium text-md example-title"
                        >
                          {{ item.stitle }}</span
                        >
                      </div>
                    </div>
                  </div>
              </div>
              
            </p-accordionTab>

            <p-accordionTab header="Completed Tasks" style="margin-top: 4px">
              
                <!-- Remote Checked SubTask -->
              <div *ngIf="data.subtasklist?.length != 0">
                <div *ngFor="let item of data.subtasklist">
                  <div *ngIf="item.checked == true" class="example-box">
                    <div class="example-box flex justify-content-between">
                      <p-checkbox
                        name="groupname"
                        [(ngModel)]="item.checked"
                        [binary]="true"
                        (onChange)="onChange(item.checked)"
                      ></p-checkbox>
                    </div>

                    <div class="example-td mr-auto">
                      <span class="text-900 font-medium text-md example-title">
                        {{ item.stitle }}</span
                      >
                    </div>
                  </div>
                </div>
              </div>
                <!-- Remote Checked SubTask -->
                <div *ngIf="subTask?.length != 0">
                  <div *ngFor="let item of subTask">
                    <div *ngIf="item.checked == true" class="example-box">
                      <div class="example-box flex justify-content-between">
                        <p-checkbox
                          name="groupname"
                          [(ngModel)]="item.checked"
                          [binary]="true"
                        ></p-checkbox>
                      </div>
  
                      <div class="example-td mr-auto">
                        <span class="text-900 font-medium text-md example-title">
                          {{ item.stitle }}</span
                        >
                      </div>
                    </div>
                  </div>
                </div>
            </p-accordionTab>
          </p-accordion>
        </div>
      </div>
    </div>
  </ng-template>

  <ng-template #cardSettingsTemplate let-data>
    <div class="e-card-content">
      <div class="card-15">
        <div class="card-15__colone">
          <div class="card-15__title">
            {{ data.title }}
          </div>
          <div class="card-15__date">
            {{
              data.scheduled_date == null
                ? (data.updatedAt | date: mediumDate)
                : (data.scheduled_date | date: mediumDate)
            }}
          </div>
        </div>
        <div class="card-15__pos">
          {{ data.description }}
        </div>
        <div class="card-15__colthree">
          <div class="card-15__percent">
             
            <span class="card-15__complete">{{data.subtasklist?.length==0? "": calculatePercentage(data.subtasklist)+"%"}}</span>
          </div>
          
          <div class="card-15__days"> {{ data.subtasklist?.length==0? "No SubTask": (calulateCompleteSubTask(data.subtasklist))+"/"+data.subtasklist?.length}} </div>
        </div>

        <div class="card-15__progressbar">
          <span *ngIf="data.subtasklist?.length > 0">
          <p-progressBar [value]="calculatePercentage(data.subtasklist)" [style]="{ height: '12px'}"></p-progressBar>
          </span>
        </div>

        <div *ngIf="data.subtasklist?.length > 0" class="field col-12 p-0 mt-1">
          <div class="example-list-create">
            <p-accordion [multiple]="true">
              <p-accordionTab header="SubTasks" [selected]="true">
                <div *ngIf="data.subtasklist?.length != 0">
                  <div *ngFor="let item of data.subtasklist">
                    <div *ngIf="item.checked == false" class="example-box">
                      <div class="example-box flex justify-content-between">
                        <p-checkbox
                          name="groupname"
                          value="{{ item.checked }}"
                          disabled="false"
                        ></p-checkbox>
                      </div>

                      <div class="example-td mr-auto">
                        <span
                          class="text-900 font-medium text-md example-title"
                        >
                          {{ item.stitle }}</span
                        >
                      </div>
                    </div>
                  </div>
                </div>
              </p-accordionTab>

              <p-accordionTab header="Completed Tasks" style="margin-top: 4px">
                <div *ngIf="data.subtasklist?.length != 0">
                  <div *ngFor="let item of data.subtasklist">
                    <div *ngIf="item.checked == true" class="example-box">
                      <div class="example-box flex justify-content-between">
                        <p-checkbox
                          name="groupname"
                          [(ngModel)]="item.checked"
                          [binary]="true"
                          disabled="true"
                        ></p-checkbox>
                      </div>

                      <div class="example-td mr-auto">
                        <span
                          class="text-900 font-medium text-md example-title"
                        >
                          {{ item.stitle }}</span
                        >
                      </div>
                    </div>
                  </div>
                </div>
              </p-accordionTab>
            </p-accordion>
          </div>
        </div>

        <div class="card-15__colfive">
          <div class="card-15__avatar">
            <div
              *ngIf="
                data.badge === 'medium' ||
                  data.badge === 'low' ||
                  data.badge === 'high';
                else elseBlock
              "
            >
              <div *ngIf="data.badge === 'low'">
                <p-badge
                  [value]="data.badge"
                  severity="info"
                  styleClass="mr-2"
                ></p-badge>
              </div>

              <div *ngIf="data.badge === 'medium'">
                <p-badge
                  [value]="data.badge"
                  severity="warning"
                  styleClass="mr-2"
                ></p-badge>
              </div>

              <div *ngIf="data.badge === 'high'">
                <p-badge
                  [value]="data.badge"
                  severity="danger"
                  styleClass="mr-2"
                ></p-badge>
              </div>
            </div>
            <ng-template #elseBlock
              ><p-badge
                [value]="data.badge"
                severity="info"
                styleClass="mr-2"
              ></p-badge
            ></ng-template>
          </div>

          <div class="card-15__stat">
            <div class="card-15__statinfo">
              <span
                *ngIf="
                  data.task_status == 'active' || data.task_status == 'done';
                  else elseBlock1
                "
              >
                <span *ngIf="data.task_status == 'done'">
                  <i
                    class="pi pi-check-circle mr-1"
                    style="color: greenyellow; font-weight: bolder"
                  ></i>
                  {{
                    calculateCompletionDiff(data.startedAt, data.completedAt)
                  }}
                </span>

                <span *ngIf="data.task_status == 'active'">
                  <i
                    class="pi pi-clock mr-1"
                    style="color: #ffc107; font-weight: bolder"
                  ></i>
                  {{ calculateDiff(data.startedAt) }}
                </span>
              </span>
              <ng-template #elseBlock1>
                <span *ngIf="data.task_status == 'unsheduled'">
                  <i
                    class="pi pi-circle-fill"
                    style="color: greenyellow; font-weight: bolder"
                  >
                    <b> Unsheduled </b>
                  </i>
                </span>

                <span *ngIf="data.task_status == 'pending'">
                  <i
                    class="pi pi-circle-fill"
                    style="color: red; font-weight: bolder"
                  >
                    <b> Not Started </b>
                  </i>
                </span>
              </ng-template>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</ejs-kanban>

<p-dialog
  header="Create Task"
  [(visible)]="displayBasic"
  [style]="{ width: '44rem' }"
  class="subtask"
>
  <div class="field col-12 p-0 mb-0">
    <div class="col-8 p-0">
      <p-splitButton
        label="Low Priority"
        [model]="this.category"
        (onClick)="save('info')"
        styleClass="p-button-raised p-button-plain p-button-text mr-2 mb-2"
      ></p-splitButton>
    </div>
  </div>

  <div class="p-fluid p-0">
    <div class="col-12 p-0">
      <input type="text" class="inputtext" placeholder="Enter Title" />
    </div>
    <hr class="m-0" />

    <div class="col-12 p-0 mt-2">
      <textarea
        rows="5"
        cols="30"
        placeholder="Add Description"
        class="inputtext"
        pInputTextarea
      ></textarea>
    </div>
    <hr />
    <div class="field col-12 mt-1 mb-0 p-0">
      <div class="col-6 p-0">
        <div class="p-inputgroup">
          <input type="text" class="inputtext" placeholder="Add Sub Task" />
          <button
            type="button"
            class="p-button-text p-button-plain"
            pButton
            pRipple
            icon="pi pi-plus"
          ></button>
        </div>
      </div>
    </div>

    <div class="field col-12 p-0">
      <div
        cdkDropList
        #todoList="cdkDropList"
        class="example-list-create"
        (cdkDropListDropped)="drop($event)"
      >
        <div class="example-box" *ngFor="let item of todo" cdkDrag>
          <div class="example-box flex justify-content-between">
            <p-checkbox name="groupname" value="false"></p-checkbox>
          </div>

          <div class="example-td mr-auto">
            <span class="text-900 font-medium text-md example-title">
              {{ item }}</span
            >
          </div>
        </div>
      </div>
    </div>
    <hr class="m-0" />
    <button (click)="showCreateDialog()">Create</button>
    <div class="field col-12 p-0 subtask">
      <div class="col-6">
        <div class="p-inputgroup">
          <span class="p-inputgroup-addon">
            <i class="pi pi-calendar"></i>
          </span>
          <span class="p-float-label">
            <label for="basic">Basic</label>
            <p-calendar
              class="selectdate"
              inputId="basic"
              [showButtonBar]="true"
              placeholder="Select Date"
            ></p-calendar>
          </span>
        </div>
        <div style="width: 100%">
          <span>Repeat</span><p-inputSwitch styleClass="block"></p-inputSwitch>
        </div>
      </div>
    </div>
  </div>

  <!-- <ng-template pTemplate="footer">
    <p-button
      icon="pi pi-check"
      (click)="displayBasic = false"
      label="Ok"
      styleClass="p-button-text"
    ></p-button>
  </ng-template> -->
</p-dialog>

<p-dialog
  header="Create Category"
  [(visible)]="displayCategory"
  [style]="{ width: '20rem' }"
  class="subtask"
>
  <div class="p-fluid p-0">
    <div class="col-12 p-0">
      <input type="text" class="inputtext" placeholder="Enter Title" />
    </div>
    <div class="col-12 m-2">
      <p-button label="Create"></p-button>
    </div>
  </div>
</p-dialog>
