<div class="grid">
  <div class="col-12 lg:col-4">
    <div class="card p-3">
      <p-tag
        styleClass="mr-2 text-xl  mb-2"
        icon="pi pi-exclamation-triangle"
        severity="warning"
        value="Pending Tasks"
      ></p-tag>

      <p-divider>
        <b>Previous Task</b>
      </p-divider>
      <div
        cdkDropList
        #pendingList="cdkDropList"
        [cdkDropListData]="pending"
        class="example-list"
        [cdkDropListConnectedTo]="[activeList, todayList, unsheduledList]"
         (cdkDropListDropped)="drop($event)"
      >
     
        <div class="example-box" *ngFor="let item of pending  | async" cdkDrag>
          <div class="example-box flex justify-content-between">
            <p-checkbox name="groupname" value="false"></p-checkbox>
            <button
              type="button"
              pButton
              class="p-button-text p-0 w-0"
              icon="pi pi-angle-down
          "
              (click)="menu.toggle($event)"
            ></button>
            <p-menu #menu [popup]="true" [model]="items"></p-menu>
          </div>

          <div class="example-td mr-auto">
            <span class="font-medium text-xl example-title">
              {{ item.title }}</span
            >
            <div class="block font-medium mb-1 pending">
              {{ item.scheduled_date | date:'dd-MM'}}     <i class="pi pi-sync ml-2" style="font-size: 1rem"></i>
            </div>
          </div>
          <div class="example-indicators">
            <div class="flex justify-content-between align-items-center">
              <p-tag
                styleClass="ml-2 mt-1 mb-1"
                severity="danger"
                value="High"
                [rounded]="true"
              ></p-tag>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-12 lg:col-4">
    <div class="card p-3">
      <p-tag
        styleClass="mr-2 text-xl mb-2"
        icon="pi pi-clock"
        severity="success"
        value="In Progress Tasks"
      ></p-tag>

      <p-divider>
        <b>Active Task</b>
      </p-divider>

      <div
        cdkDropList
        #activeList="cdkDropList"
        [cdkDropListData]="active"
        [cdkDropListConnectedTo]="[todayCompletedList]"
        class="example-list"
        (cdkDropListDropped)="drop($event)"
      >
        <div class="example-box" *ngFor="let item of active | async" cdkDrag>
          <div class="example-box flex justify-content-between">
            <p-checkbox name="groupname" value="false"></p-checkbox>
            <button
              type="button"
              pButton
              class="p-button-text"
              icon="pi pi-angle-down
          "
              (click)="menu.toggle($event)"
            ></button>
            <p-menu #menu [popup]="true" [model]="items"></p-menu>
          </div>

          <div class="example-td mr-auto">
            <span class="font-medium text-md example-title-active">
              {{ item.title }}</span
            >
            <div class="block text-500 font-medium mb-1">
              {{ item.scheduled_date | date:'dd-MM'}} <i class="pi pi-sitemap ml-2" style="font-size: 1rem"></i>
            </div>
          </div>
          <div class="example-indicators">
            <div class="flex justify-content-between align-items-center">
              <p-knob
                styleClass="mt-1"
                [size]="30"
                (ngModel)="(knobvalue)"
                valueTemplate="60%"
              ></p-knob>
              <p-tag
                styleClass="ml-2 mt-1 mb-1"
                severity="warning"
                value="Medium"
                [rounded]="true"
              ></p-tag>
            </div>
          </div>
        </div>
      </div>
      <p-divider>
        <b>Todays Task</b>
      </p-divider>

      <div
        cdkDropList
        #todayList="cdkDropList"
        [cdkDropListData]="today"
        [cdkDropListConnectedTo]="[todayCompletedList, scheduledList, unsheduledList, activeList]"
        class="example-list"
        (cdkDropListDropped)="drop($event)"
      >
        <div class="example-box" *ngFor="let item of today | async" cdkDrag>
          <div class="example-box flex justify-content-between">
            <p-checkbox name="groupname" value="false"></p-checkbox>
            <button
              type="button"
              pButton
              class="p-button-text"
              icon="pi pi-angle-down
          "
              (click)="menu.toggle($event)"
            ></button>
            <p-menu #menu [popup]="true" [model]="items"></p-menu>
          </div>

          <div class="example-td mr-auto">
            <span class="text-900 font-medium text-md example-title">
              {{ item.title }}</span
            >
            <div class="block text-500 font-medium mb-1">
              {{ item.scheduled_date | date:'dd-MM'}}<i class="pi pi-sitemap ml-2" style="font-size: 1rem"></i>
            </div>
          </div>
          <div class="example-indicators">
            <div class="flex justify-content-between align-items-center">
              <p-knob
                styleClass="mt-1"
                [size]="30"
                (ngModel)="(knobvalue)"
                valueTemplate="60%"
              ></p-knob>
              <p-tag
                styleClass="ml-2 mt-1 mb-1"
                severity="warning"
                value="Medium"
                [rounded]="true"
              ></p-tag>
            </div>
          </div>
        </div>
      </div>
      <p-divider>
        <b>Todays Completed Task</b>
      </p-divider>

      <div
        cdkDropList
        #todayCompletedList="cdkDropList"
        [cdkDropListData]="todaycompleted"
        [cdkDropListConnectedTo]="[activeList, todayList, activeList, scheduledList]"
        class="example-list"
        (cdkDropListDropped)="drop($event)"
      >
        <div class="example-box" *ngFor="let item of todaycompleted | async" cdkDrag>
          <div class="example-box flex justify-content-between">
            <p-checkbox name="groupname" value="false"></p-checkbox>
            <button
              type="button"
              pButton
              class="p-button-text"
              icon="pi pi-angle-down
          "
              (click)="menu.toggle($event)"
            ></button>
            <p-menu #menu [popup]="true" [model]="items"></p-menu>
          </div>

          <div class="example-td mr-auto">
            <span class="text-900 font-medium text-md example-title">
              {{ item.title }}</span
            >
            <div class="block text-500 font-medium mb-1">
              {{ item.scheduled_date | date:'dd-MM'}} <i class="pi pi-sitemap ml-2" style="font-size: 1rem"></i>
            </div>
          </div>
          <div class="example-indicators">
            <div class="flex justify-content-between align-items-center">
              <p-knob
                styleClass="mt-1"
                [size]="30"
                (ngModel)="(knobvalue)"
                valueTemplate="60%"
              ></p-knob>
              <p-tag
                styleClass="ml-2 mt-1 mb-1"
                severity="warning"
                value="Medium"
                [rounded]="true"
              ></p-tag>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-12 lg:col-4">
    <div class="card p-3">
      <p-tag
        styleClass="mr-2 text-xl mb-2"
        icon="pi pi-calendar"
        severity="info"
        value="Upcoming Tasks"
      ></p-tag>
      <p-divider>
        <b>Scheduled Task</b>
      </p-divider>
      <div
        cdkDropList
        #scheduledList="cdkDropList"
        [cdkDropListData]="scheduled"
        [cdkDropListConnectedTo]="[todayCompletedList, todayList, todayCompletedList, activeList, unsheduledList]"
        class="example-list"
        (cdkDropListDropped)="drop($event)"
      >
        <div class="example-box" *ngFor="let item of scheduled | async" cdkDrag>
          <div class="example-box flex justify-content-between">
            <p-checkbox name="groupname" value="false"></p-checkbox>
            <button
              type="button"
              pButton
              class="p-button-text"
              icon="pi pi-angle-down
          "
              (click)="menu.toggle($event)"
            ></button>
            <p-menu #menu [popup]="true" [model]="items"></p-menu>
          </div>

          <div (click)="showBasicDialog()" class="example-td mr-auto">
            <span class="text-900 font-medium text-md example-title">
              {{ item.title }}</span
            >
            <div class="block text-500 font-medium mb-1">
              {{ item.scheduled_date | date:'dd-MM'}}
              <i class="pi pi-sync ml-2" style="font-size: 1rem"></i>
              <i class="pi pi-star-fill ml-2" style="font-size: 1rem"></i>
            </div>
          </div>
          <div class="example-indicators">
            <div class="flex justify-content-between align-items-center">
              <p-tag
                styleClass="ml-2 mt-1 mb-1"
                severity="danger"
                value="High"
                [rounded]="true"
              ></p-tag>
            </div>
          </div>
        </div>
      </div>

      <p-divider>
        <b>Unscheduled Task</b>
      </p-divider>
      <div
        cdkDropList
        #unsheduledList="cdkDropList"
        [cdkDropListData]="unsheduled"
        [cdkDropListConnectedTo]="[todayCompletedList, scheduledList, todayList, todayCompletedList]"
        class="example-list"
        (cdkDropListDropped)="drop($event)"
      >
        <div class="example-box" *ngFor="let item of unsheduled | async" cdkDrag>
          <div class="example-box flex justify-content-between">
            <p-checkbox name="groupname" value="false"></p-checkbox>
            <button
              type="button"
              pButton
              class="p-button-text"
              icon="pi pi-angle-down
          "
              (click)="menu.toggle($event)"
            ></button>
            <p-menu #menu [popup]="true" [model]="items"></p-menu>
          </div>

          <div (click)="showBasicDialog()" class="example-td mr-auto">
            <span class="text-900 font-medium text-md example-title">
              {{ item.title }}</span
            >
            <div class="block text-500 font-medium mb-1">
              <p-tag value="No Date"></p-tag>
              <i class="pi pi-sync ml-2" style="font-size: 1rem"></i>
              <i class="pi pi-star-fill ml-2" style="font-size: 1rem"></i>
            </div>
          </div>
          <div class="example-indicators">
            <div class="flex justify-content-between align-items-center">
              <p-tag
                styleClass="ml-2 mt-1 mb-1"
                severity="danger"
                value="High"
                [rounded]="true"
              ></p-tag>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<p-dialog
  header="Create Task"
  [(visible)]="displayBasic"
  [style]="{ width: '44rem' }"
  class="subtask"
>
  <div class="field col-12 p-0 mb-0">
    <div class="col-8 p-0">
      <p-splitButton
        label="No Category"
        [model]="this.category"
        (onClick)="save('info')"
        styleClass="p-button-raised p-button-plain p-button-text mr-2 mb-2"
      ></p-splitButton>
    </div>
  </div>

  <div class="p-fluid p-0">
    <div class="col-12 p-0">
      <input type="text" class="inputtext" placeholder="Enter Title" />
    </div>
    <hr class="m-0" />

    <div class="col-12 p-0 mt-2">
      <textarea
        rows="5"
        cols="30"
        placeholder="Add Description"
        class="inputtext"
        pInputTextarea
      ></textarea>
    </div>
    <hr />
    <div class="field col-12 mt-1 mb-0 p-0">
      <div class="col-6 p-0">
        <div class="p-inputgroup">
          <input type="text" class="inputtext" placeholder="Add Sub Task" />
          <button
            type="button"
            class="p-button-text p-button-plain"
            pButton
            pRipple
            icon="pi pi-plus"
          ></button>
        </div>
      </div>
    </div>

    <div class="field col-12 p-0">
      <div
        cdkDropList
        #todoList="cdkDropList"
        class="example-list-create"
        (cdkDropListDropped)="drop($event)"
      >
        <div class="example-box" *ngFor="let item of todo" cdkDrag>
          <div class="example-box flex justify-content-between">
            <p-checkbox name="groupname" value="false"></p-checkbox>
          </div>

          <div class="example-td mr-auto">
            <span class="text-900 font-medium text-md example-title">
              {{ item }}</span
            >
          </div>
        </div>
      </div>
    </div>
    <hr class="m-0" />
    <button (click)="showCreateDialog()" > Create</button>
    <div class="field col-12 p-0 subtask">
      <div class="col-6">
        <div class="p-inputgroup">
          <span class="p-inputgroup-addon">
            <i class="pi pi-calendar"></i>
          </span>
          <span class="p-float-label">
            <label for="basic">Basic</label>
            <p-calendar
              class="selectdate"
              inputId="basic"
              [showButtonBar]="true"
              placeholder="Select Date"
            ></p-calendar>
          </span>
        </div>
        <div style="width: 100%;">
          <span>Repeat</span><p-inputSwitch styleClass="block"></p-inputSwitch>
        </div>
      </div>

     
    </div>
  </div>

  <!-- <ng-template pTemplate="footer">
    <p-button
      icon="pi pi-check"
      (click)="displayBasic = false"
      label="Ok"
      styleClass="p-button-text"
    ></p-button>
  </ng-template> -->
</p-dialog>




<p-dialog
  header="Create Category"
  [(visible)]="displayCategory"
  [style]="{ width: '20rem' }"
  class="subtask"
>


  <div class="p-fluid p-0">
    <div class="col-12 p-0">
      <input type="text" class="inputtext" placeholder="Enter Title" />
    </div>
    <div class="col-12 m-2">
      <p-button label="Create"></p-button>
    </div>
    </div>
</p-dialog>