<ejs-kanban
  class="ejs-element"
  height="100%"
  weight="95%"
  keyField="task_status"
  [sortSettings]="sortSettings"
  [dataSource]="data | async"
  [cardSettings]="cardSettings"
  (dataStateChange)="dataStateChange($event)"
  (dataSourceChanged)="dataSourceChanged($event)"
  (dialogOpen)="dialogOpen($event)"
  (dialogClose)="dialogClose($event)"
  enablePersistence='true'
>
  <e-columns>
    <e-column
      headerText="Unscheduled"
      keyField="unsheduled"
      allowToggle="true"
      showAddButton="true"
      allowDrag="false"
    >
    </e-column>
    <e-column
      headerText="To Do"
      keyField="pending"
      allowToggle="true"
      showAddButton="true"
    >
    </e-column>
    <e-column
      headerText="In Progress"
      keyField="active"
      allowToggle="true"
      showAddButton="true"
    >
    </e-column>
    <e-column
      headerText="Done"
      keyField="done"
      allowToggle="true"
      showAddButton="true"
    ></e-column>
  </e-columns>

  <ng-template
    #dialogSettingsTemplate
    let-data
    style="min-width: 500px; background-color: red"
  >
    <app-task-dialog
      [data]="data"
      [status]="status"
      [subtaskele]="subtaskele"
      [badgeData]="badgeData"
      [subTask]="subTask"
    ></app-task-dialog>
  </ng-template>

  <ng-template #cardSettingsTemplate let-data>  
    <app-task-card [data]="data" [subtaskele]="subtaskele"> </app-task-card>
  </ng-template>
</ejs-kanban>
