<form [formGroup]="projectForm" (ngSubmit)="onSubmit()" *ngIf="projectForm">
  <div class="p-fluid p-0">
    <div class="col-12 p-0">
      <input
        type="text"
        class="inputtext"
        placeholder="Enter Project Name"
        formControlName="project_title"
        name="title"
        id="text"
      />
    </div>
    <div class="col-12 p-0 mb-1">
      <p-colorPicker
        type="color"
        formControlName="theme_colour"
        name="theme_colour"
        onChange="colorChange($event)"
        appendTo="body"
      ></p-colorPicker>
      <label> : Select Theme Colour</label>
    </div>
    <div class="w-100 mt-3">
      <p-calendar
        class="selectdate"
        inputId="basic1"
        name="project_start"
        formControlName="project_start"
        placeholder="Started On"
        appendTo="body"
        dateFormat="dd/mm/yy"
        [minDate]="minDate"
        [disabled]="isStartedDateCalenderDisable"
        [showIcon]="true"
        [showButtonBar]="true"
      ></p-calendar>
    </div>
    <div class="w-100 mt-1">
      <p-calendar
        class="selectdate"
        inputId="basic"
        name="project_deadline"
        formControlName="project_deadline"
        placeholder="Deadline"
        appendTo="body"
        dateFormat="dd/mm/yy"
        [minDate]="minDate"
        [showIcon]="true"
        [showButtonBar]="true"
      ></p-calendar>
    </div>

    <!-- <input type="color" name="cardcolor" id=""> -->
    <div class="w-100 mt-2">
      <button
        pButton
        type="submit"
        [label]="
          this.config?.data?.type == 'edit'
            ? 'Update Project'
            : 'Create Project'
        "
      ></button>
    </div>
  </div>
</form>
