
  .loading-spinner {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    padding: 20px;
  }
  
  .backdrop {
    position: fixed;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 998;
  }
  