<div class="layout-wrapper layout-static layout-static-sidebar-inactive">
  <div class="layout-topbar">
    <a class="layout-topbar-logo" routerLink="/dashboard">
      <img src="assets/layout/images/logo.svg" alt="logo" />
    </a>

    <a class="p-link layout-topbar-menu-button layout-topbar-button" (click)="toggleTopMenu($event)">
      <i class="pi pi-ellipsis-v"></i>
    </a>

    <div class="layout-topbar-menu" [ngClass]="{'layout-topbar-menu-mobile-active':topMenuActive}">
      <p-button
        label="New Project"
        (click)="addProject()"
        icon="pi pi-plus"
        class="mr-2"
      ></p-button>

      <a [routerLink]="['/dashboard']" class="p-link layout-topbar-button">
        <i class="pi pi-user"></i>
        <span>Profile</span>
      </a>
      <a [routerLink]="['/logout']" class="p-link layout-topbar-button">
        <i class="pi pi-sign-out"></i>
        <span>Logout</span>
      </a>
    </div>
  </div>

  <div class="layout-main-container">
    <div class="grid">
      <div class="col-12">
        <div class="card">
          <div class="flex card-container blue-container overflow-hidden">
            <div
              class="flex-none flex align-items-center justify-content-center font-bold m-1 px-5"
            >
              <h4>All Project</h4>
            </div>
            <div
              class="flex-grow-1 flex align-items-center justify-content-center text-white m-1 px-5"
            ></div>
            <div
              class="flex-none flex align-items-center justify-content-center m-1 px-5"
            >
              <p-paginator></p-paginator>
            </div>
          </div>

          <div class="flex align-items-center flex-column sm:flex-row mt-1">
            <div
              class="flex-row overflow-hidden"
              *ngFor="let item of projects | async"
            >
              <a [routerLink]="['/home',item._id]">
                <p-card
                  header="{{ item.project_title }}"
                  [style]="{
                    width: '16rem',
                    'margin-left': '2em',
                    padding: '4px',
                    background: '#D2DAFF'
                  }"
                >
                  <ng-template pTemplate="header"> </ng-template>

                  <p-tag value="New"></p-tag>
                  <!-- <p-tag class="p-1" severity="danger" value="Danger"></p-tag> -->

                  <ng-template pTemplate="footer">
                    <hr />
                    <div class="flex container blue-container overflow-hidden">
                      <div
                        class="flex-none flex align-items-center justify-content-center mr-2"
                      >
                        <i class="pi pi-list mr-1" style="font-size: 1rem">
                          {{item.total_completed_tasks}}/{{item.total_tasks}}
                        </i>
                      </div>
                      <div
                        class="flex-grow-1 align-items-center justify-content-center mt-2"
                      >
                        <p-progressBar
                          mode="determinate"
                          [showValue]="true"
                          [value]="calculatePercentage(item.total_completed_tasks,item.total_tasks)"
                          [style]="{ height: '12px' }"
              
                        ></p-progressBar>
                      </div>
                      <div
                        class="flex-none flex align-items-center justify-content-center ml-2"
                      >
                      
                      </div>
                    </div>
                  </ng-template>
                </p-card>
              </a>
            </div>
          </div>

          <div class="flex align-items-center mt-5" style="height: 100%">
            <app-timeline></app-timeline>
          </div>
        </div>
      </div>

      <!-- <p-tree [value]="files1" selectionMode="checkbox" [(selection)]="selectedFiles1"></p-tree> -->
    </div>
  </div>
  <p-dialog
    header="Create Project"
    [(visible)]="showDailog"
    [style]="{ width: '22rem' }"
    class="subtask"
    (onHide)="close()"
  >
    <form (ngSubmit)="onAddProject()">
      <div class="p-fluid p-0">
        <div class="col-12 p-0">
          <input
            type="text"
            class="inputtext"
            placeholder="Enter Title"
            [(ngModel)]="title"
            name="title"
            id="text"
          />
        </div>
        <p-calendar
          class="selectdate"
          [minDate]="minimumDate"
          inputId="basic"
          [showIcon]="true"
          [showButtonBar]="true"
          [(ngModel)]="selectedDate"
          name="selectedDate"
          placeholder="Selected Deadline Date"
          appendTo="body"
        ></p-calendar>
        <!-- <div *ngIf="addtaskForm.get('title')!.errors?.['required']">
      Title is required
    </div> -->

        <div class="w-100 mt-2">
          <button pButton type="submit" label="Create Project"></button>
        </div>
      </div>
    </form>
  </p-dialog>
</div>
