<app-loading-spinner *ngIf="showLoading$ | async"></app-loading-spinner>
<div class="layout-wrapper layout-static layout-static-sidebar-inactive">
  <div class="layout-topbar">
    <span class="layout-topbar-logo">
      <img
        src="assets/layout/images/logo.svg"
        alt="logo"
        routerLink="/dashboard"
      />
    </span>

    <a
      class="p-link layout-topbar-menu-button layout-topbar-button"
      (click)="toggleTopMenu($event)"
    >
      <i class="pi pi-ellipsis-v"></i>
    </a>

    <div
      class="layout-topbar-menu"
      [ngClass]="{ 'layout-topbar-menu-mobile-active': topMenuActive }"
    >
      <p-button
        label="New Project"
        (click)="addProject()"
        icon="pi pi-plus"
        class="mr-2"
      ></p-button>

      <a [routerLink]="['/dashboard']" class="p-link layout-topbar-button">
        <i class="pi pi-user"></i>
        <span>Profile</span>
      </a>
      <a [routerLink]="['/logout']" class="p-link layout-topbar-button">
        <i class="pi pi-sign-out"></i>
        <span>Logout</span>
      </a>
    </div>
  </div>

  <div class="layout-main-container">
    <div class="grid">
      <div class="col-12">
        <div class="card">
          <div class="flex card-container blue-container overflow-hidden">
            <div
              class="flex-none flex align-items-center justify-content-center font-bold m-1 px-5"
            >
              <h4>All Project</h4>
            </div>
            <div
              class="flex-grow-1 flex align-items-center justify-content-center text-white m-1 px-5"
            ></div>
            <div
              class="flex-none flex align-items-center justify-content-center m-1 px-5"
            >
            <p-paginator [rows]="rows" (onPageChange)="onPageChange($event)" [totalRecords]="totalprojects?.length" [pageLinkSize]="0"></p-paginator>
            </div>
          </div>

          <div class="flex align-items-center flex-column sm:flex-row mt-1">
            <div
              class="flex-row overflow-hidden"
              *ngFor="let item of projects"
            >
              
                <p-card [routerLink]="['/home', item._id]"  class="ui-grid ui-grid-col-12 ui-grid-responsive"
                  [style]="{
                    'min-width': '16rem',
                    'max-width': '16rem',
                    'height': '16rem',
                    'margin-left': '1em',
                    'padding': '2px',
                    'color': '#fff',
                    'background': item.theme_colour
                  }"
                >
                  <ng-template pTemplate="header">
                    <div class="d-flex justify-content-space-between">
                      <h3 class="">{{ item.project_title }}</h3>
                      <div (click)="op.toggle($event);$event.stopPropagation()">
                        <i class="pi pi-ellipsis-v" style="font-size: 1rem"></i>
                      </div>
                    </div>

                  </ng-template>
                  <ng-template pTemplate="body">
                    <div class="flex align-items-center flex-wrap">
                      <div
                        class="flex align-items-center justify-content-center mr-2"
                      >
                        <i
                          class="pi pi-tag pi-tag"
                          style="font-size: 1rem; color: #fff"
                        ></i>
                        &nbsp; Tag
                      </div>
                    </div>
                  </ng-template>

                  <ng-template pTemplate="footer" style="padding: 0;">
                    <div class="flex align-items-center flex-wrap">
                      <div
                        class="flex align-items-center justify-content-center mr-2"
                      >
                        <i class="pi pi-list" style="font-size: 1.3rem">
                          {{ item.total_completed_tasks }}/{{
                            item.total_tasks
                          }}
                        </i>
                      </div>

                      <div class="single-chart">
                        <svg
                          viewBox="0 0 36 36"
                          class="circular-chart {{
                            getColor(
                              item.total_completed_tasks,
                              item.total_tasks
                            )
                          }}"
                        >
                          <path
                            class="circle-bg"
                            d="M18 2.0845
                                  a 15.9155 15.9155 0 0 1 0 31.831
                                  a 15.9155 15.9155 0 0 1 0 -31.831"
                          />
                          <path
                            class="circle"
                            style.stroke-dasharray=" {{
                              calculatePercentage(
                                item.total_completed_tasks,
                                item.total_tasks
                              )
                            }},100"
                            d="M18 2.0845
                                  a 15.9155 15.9155 0 0 1 0 31.831
                                  a 15.9155 15.9155 0 0 1 0 -31.831"
                          />
                          <text x="18" y="20.35" class="percentage">
                            {{
                              calculatePercentage(
                                item.total_completed_tasks,
                                item.total_tasks
                              )
                            }}%
                          </text>
                        </svg>
                      </div>

                      <!-- <div class="inside-circle" style="border: 2px solid {{getColor(item.total_completed_tasks, item.total_tasks)}};" > {{calculatePercentage(
                            item.total_completed_tasks,
                            item.total_tasks
                          )}}%</div> -->
                    </div>

                    <!-- <div class="flex-wrapper">
                      <div class="single-chart">
                        <svg viewBox="0 0 332 36" class="circular-chart orange">
                          <path
                            class="circle-bg"
                            d="M18 2.0845
                                  a 15.9155 15.9155 0 0 1 0 31.831
                                  a 15.9155 15.9155 0 0 1 0 -31.831"
                          />
                          <path
                            class="circle"
                            style.stroke-dasharray=" {{ calculatePercentage(
                              item.total_completed_tasks,
                              item.total_tasks
                            )}},100"
                            d="M18 2.0845
                                  a 15.9155 15.9155 0 0 1 0 31.831
                                  a 15.9155 15.9155 0 0 1 0 -31.831"
                          />
                          <text x="18" y="20.35" class="percentage"> {{calculatePercentage(
                            item.total_completed_tasks,
                            item.total_tasks
                          )}}%</text>
                        </svg>
                      </div>

                      <div class="single-chart">
                        <svg viewBox="0 0 36 36" class="circular-chart green">
                          <path
                            class="circle-bg"
                            d="M18 2.0845
                                  a 15.9155 15.9155 0 0 1 0 31.831
                                  a 15.9155 15.9155 0 0 1 0 -31.831"
                          />
                          <path
                            class="circle"
                            stroke-dasharray="60, 100"
                            d="M18 2.0845
                                  a 15.9155 15.9155 0 0 1 0 31.831
                                  a 15.9155 15.9155 0 0 1 0 -31.831"
                          />
                          <text x="18" y="20.35" class="percentage">60%</text>
                        </svg>
                      </div>

                      <div class="single-chart">
                        <svg viewBox="0 0 36 36" class="circular-chart blue">
                          <path
                            class="circle-bg"
                            d="M18 2.0845
                                  a 15.9155 15.9155 0 0 1 0 31.831
                                  a 15.9155 15.9155 0 0 1 0 -31.831"
                          />
                          <path
                            class="circle"
                            stroke-dasharray="90, 100"
                            d="M18 2.0845
                                  a 15.9155 15.9155 0 0 1 0 31.831
                                  a 15.9155 15.9155 0 0 1 0 -31.831"
                          />
                          <text x="18" y="20.35" class="percentage">90%</text>
                        </svg>
                      </div>
                    </div> -->
                  </ng-template>
                </p-card>
                  <p-overlayPanel #op [dismissable]="true" [showCloseIcon]="true">
                    <ng-template pTemplate>
                      <button pButton type="button" label="Delete" icon="pi pi-trash" class="p-button-text"  class="p-button-info p-button-text"></button><br>
                      <button pButton type="button" label="Update" icon="pi pi-pencil" class="p-button-text" class="p-button-info p-button-text"></button>
                    </ng-template>
                  </p-overlayPanel>
              
            </div>
          </div>

          <div class="flex align-items-center mt-5" style="height: 110%">
            <app-timeline></app-timeline>
          </div>
        </div>
      </div>
    </div>
  </div>
  <p-dialog
    header="Create Project"
    [(visible)]="showDailog"
    [style]="{ width: '22rem' }"
    class="subtask"
    (onHide)="close()"
  >
    <form (ngSubmit)="onAddProject()">
      <div class="p-fluid p-0">
        <div class="col-12 p-0">
          <input
            type="text"
            class="inputtext"
            placeholder="Enter Title"
            [(ngModel)]="title"
            name="title"
            id="text"
          />
        </div>
          <div class="col-12 p-0 mb-1">
           <p-colorPicker type="color" [(ngModel)]="theme_colour" name="theme_colour" onChange="colorChange($event)" appendTo="body"></p-colorPicker> <label> : Select Theme Colour</label>
          </div>
        <hr class="m-0" />
        <p-calendar
          class="selectdate"
          [minDate]="minimumDate"
          inputId="basic"
          [showIcon]="true"
          [showButtonBar]="true"
          [(ngModel)]="selectedDate"
          name="selectedDate"
          placeholder="Selected Deadline Date"
          appendTo="body"
        ></p-calendar>
        <!-- <input type="color" name="cardcolor" id=""> -->
        <div class="w-100 mt-2">
          <button pButton type="submit" label="Create Project"></button>
        </div>
      </div>
    </form>
  </p-dialog>
</div>
