  .justify-content-space-between {
    display: flex;
    justify-content: space-between;
    padding: 5px !important;
  }
  
  .p-card .p-card-title{
    font-size: small;
  }
  
 .circle-wrap .inside-circle {
  width: 30px;
  height: 30px;
  border: 2px solid white;
  border-radius: 50%;
  line-height: 28px;
  text-align: center;
  margin-left: 6px;
  color: #fff;
  position: absolute;
  z-index: 100;
  font-weight: 500;
  font-size: 0.8em;
  text-align: center;
}

.flexa {
  display: flex;
  justify-content: center;
  align-items: center;
}


.flex-wrapper {
  display: flex;
  flex-flow: row nowrap;
}

.single-chart {
  width: 33%;
  justify-content: space-around ;
}

.circular-chart {
  display: block;
  margin: 10px auto;
  max-width: 80%;
  max-height: 250px;
}

.circle-bg {
  fill: none;
  stroke: #eee;
  stroke-width: 3.8;
}

.circle {
  fill: none;
  stroke-width: 2.8;
  stroke-linecap: round;
  animation: progress 1s ease-out forwards;
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}
.circular-chart.red .circle {
  stroke: #EB455F;
}

.circular-chart.orange .circle {
  stroke: #ff9f00;
}

.circular-chart.green .circle {
  stroke: #4CC790;
}

.circular-chart.blue .circle {
  stroke: #3c9ee5;
}

.percentage {
  fill: #fff;
  font-family: sans-serif;
  font-size: 0.8em;
  text-anchor: middle;
}