* {
    box-sizing: border-box;
}

html {
    height: 100%;
    font-size: $fontSize;
}

body {
    font-family: var(--font-family);
    color: var(--text-color);
    background-color: var(--surface-ground);
    margin: 0;
    padding: 0;
    min-height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    text-decoration: none;
    color: var(--primary-color);
}

.layout-theme-light {
    background-color: #edf1f5;
}

.e-kanban .e-kanban-content .e-content-row .e-content-cells .e-kanban-border {
    display: none !important;
    border: 1px dashed red !important;
  }
  .e-kanban .e-kanban-content .e-content-row .e-content-cells .e-kanban-border.e-dropping {
    display: none !important;
    position: relative !important;
    border: 1px dashed yellowgreen !important;
    left: 2px !important;
  }

  .e-kanban .e-kanban-content .e-content-row .e-content-cells .e-card-wrapper .e-card.e-kanban-dragged-card,
.e-kanban .e-kanban-content .e-content-row .e-content-cells .e-card-container .e-card.e-kanban-dragged-card {
  display: none;
  left: 0 !important;
}