* {
    box-sizing: border-box;
}

html {
    height: 100%;
    font-size: $fontSize;
}

body {
    font-family: var(--font-family);
    color: var(--text-color);
    background-color: var(--surface-ground);
    margin: 0;
    padding: 0;
    min-height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    text-decoration: none;
    color: var(--primary-color);
}

.layout-theme-light {
    background-color: #edf1f5;
}

.e-kanban .e-kanban-content .e-content-row .e-content-cells .e-kanban-border {
    display: none !important;
    border: 1px dashed red !important;
  }
  .e-kanban .e-kanban-content .e-content-row .e-content-cells .e-kanban-border.e-dropping {
    display: none !important;
    position: relative !important;
    border: 1px dashed yellowgreen !important;
    left: 2px !important;
  }

  .e-kanban .e-kanban-content .e-content-row .e-content-cells .e-card-wrapper .e-card.e-kanban-dragged-card,
.e-kanban .e-kanban-content .e-content-row .e-content-cells .e-card-container .e-card.e-kanban-dragged-card {
  display: none;
  left: 0 !important;
}

.p-accordion .p-accordion-header:not(.p-disabled).p-highlight .p-accordion-header-link {
  background: white;
  border-color: #dee2e6;
  color: #343a40;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.p-accordion .p-accordion-header:not(.p-disabled).p-highlight:hover .p-accordion-header-link {
  border-color: #dee2e6;
  background: white;
  color: #343a40;
}
.p-accordion .p-accordion-content{
  padding: 0rem;
  border: 0px solid #dee2e6;
}

.p-accordion .p-accordion-header .p-accordion-header-link {
  border: 0px;
  color: #6c757d;
  background: white;
  font-weight: 700;
  transition: box-shadow 0.2s;
}

.p-accordion .p-accordion-header{
  background: white;
  outline: none;
}
.p-accordion-tab .p-accordion-tab-active {
  background-color: #edf1f5;
}


.p-accordion .p-accordion-header:not(.p-highlight):not(.p-disabled):hover .p-accordion-header-link {
  background-color:white;
}