
  .example-list {
    border: solid 0px #ccc;
    min-height: 60px;
    background: white;
    border-radius: 4px;
    overflow: hidden;
    display: block;
   
  }
  .example-box {
    padding: 3px 3px;
    margin: 3px;
    display: flex;
    border-radius: 4px;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    cursor: cursor;
    background: white;
    font-size: 14px;
    background-color: #f1f4f457;
  }

  .example-td {
    align-items: left;
  }
  
  .example-title {
    display: inline-block;
    max-width: 150px;
    color: #585858;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
  }
  .example-title-active {
    display: inline-block;
    max-width: 110px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
  }
  @media (max-width: 992px) {
    .example-title {
        display: inline-block;
        max-width: 500px;
        white-space: nowrap;
        overflow: hidden !important;
        text-overflow: ellipsis;
      }
    }
  
    @media (max-width: 750px) {
      .example-title {
          display: inline-block;
          max-width: 160px;
          white-space: nowrap;
          overflow: hidden !important;
          text-overflow: ellipsis;
        }
  
        .example-title-active {
          display: inline-block;
          max-width: 110px;
          white-space: nowrap;
          overflow: hidden !important;
          text-overflow: ellipsis;
        }
      }
  .example-indicators {
    display: inline-block;
  }
  
  .cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
      0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
  
  .cdk-drag-placeholder {
    opacity: 0;
  }
  
  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  .example-box:last-child {
    border: none;
  }
  
  .example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
    z-index: 10;
  }
  
  .inputtext {
    border: none;
    width: 100%;
    display: block;
    outline: none;
      font-size: 1rem;
      padding: 0.75rem 0.75rem;
  }
  
  
  .inputtext:focus {
    outline: none;
    border: none;
  }
  
  .selectdate{
    z-index: 50;
  }
  
  
  .example-list-create{
    border: none;
    min-height: 60px;
    background: white;
    border-radius: 4px;
    overflow: hidden;
    display: block;
  }
  .pending{
    color: rgba(231, 21, 21, 0.986);
    text-decoration:underline;
  }
  
  .subtask{
    z-index: 10;
  }

  ::ng-deep .ql-toolbar.ql-snow{
    display :block;
  }