<p-dialog
  header="Create Task"
  [(visible)]="showDailog"
  [style]="{ width: '44rem' }"
  class="subtask"
  (onHide)="close()"
>

  <form (ngSubmit)="onAddTask()">
    <div class="field col-12 p-0 mb-0 mt-1">
      <div class="col-8 p-0">
        <p-splitButton
          label="{{ selectedCategory }}"
          [model]="this.category"
          styleClass="p-button-raised p-button-plain p-button-text mr-2 mb-2"
        ></p-splitButton>
      </div>
    </div>

    <div class="p-fluid p-0">
      <div class="col-12 p-0">
        <input
          type="text"
          class="inputtext"
          placeholder="Enter Title"
          [(ngModel)]="title"
          name="title"
          id="text"
        />
      </div>
      <!-- <div *ngIf="addtaskForm.get('title')!.errors?.['required']">
      Title is required
    </div> -->
      <hr class="m-0" />

      <div class="col-12 p-0 mt-2">
        <p-editor [(ngModel)]="description" [style]="{'height':'200px'}" [ngModelOptions]="{standalone: true}" name="fieldName" ngDefaultControl></p-editor>
      </div>

      <hr />
      <div class="field col-12 mt-1 mb-0 p-0">
        <div class="col-8 p-0">
          <div class="p-inputgroup">
            <input
              type="text"
              class="inputtext"
              placeholder="Add Subtask"
              [(ngModel)]="subtaskele"
              name="subtaskele"
              style="border-bottom: 1px #dfe7ef solid; border-radius: 0px;"
            />
            <button
              type="button"
              class="p-button-text p-button-plain"
              pButton
              pRipple
              (click)="addSubTask(subtaskele)"
              icon="pi pi-plus"
            ></button>
          </div>
        </div>
      </div>

      <div class="field col-12 p-0">
        <div cdkDropList class="example-list-create">
          <div *ngIf="subTask?.length != 0">

          <div class="example-box" *ngFor="let item of subTask" cdkDrag>
            <div class="example-box flex justify-content-between">
              <p-checkbox name="groupname" value="false"></p-checkbox>
            </div>

            <div class="example-td mr-auto">
              <span class="text-900 font-medium text-md example-title">
                {{ item.stitle }}</span
              >
            </div>
            <button
              type="button"
              class="p-button-text p-button-plain ml-auto"
              pButton
              pRipple
              (click)="removeSubTask(item)"
              icon="pi pi-times"
            ></button>
          </div>
          </div>
        </div>
      </div>
      <hr class="m-0" />
      <div class="field col-12 p-0 subtask">
        <div class="col-6">
          <div class="p-inputgroup">
            <p-calendar
              class="selectdate"
              inputId="basic"
              [showIcon]="true"
              class="selectdate"
              [showButtonBar]="true"
              [(ngModel)]="selectedDate"
              name="selectedDate"
              [minDate]="minimumDate"
              placeholder="Scheduled Date"
            ></p-calendar>
          </div>
          <!-- <div style="width: 100%">
          <span>Repeat</span><p-inputSwitch styleClass="block"></p-inputSwitch>
        </div> -->
          <div class="w-100 mt-2">
            <button pButton type="submit" label="Create Task"></button>
          </div>
        </div>
      </div>
    </div>
  </form>
  
  <!-- <ng-template pTemplate="footer">
    <p-button
      icon="pi pi-check"
      (click)="displayBasic = false"
      label="Ok"
      styleClass="p-button-text"
    ></p-button>
  </ng-template> -->
</p-dialog>

<p-dialog
  header="Create Badge"
  [(visible)]="displayCategory"
  [style]="{ width: '20rem' }"
  class="subtask"
>
  <div class="p-fluid p-0">
    <div class="col-12 p-0">
      <input
        type="text"
        class="inputtext"
        [(ngModel)]="categorytitle"
        name="categorytitle"
        placeholder="Enter Badge"
      />
    </div>
    <div class="col-12 m-2">
      <p-button label="Create"></p-button>
    </div>
  </div>
</p-dialog>
