<div class="layout-topbar">
    <a class="p-link layout-menu-button layout-topbar-button" href="#" (click)="appMain.toggleMenu($event)">
        <i class="pi pi-bars"></i>
    </a>
    <a class="layout-topbar-logo" routerLink="/home/dashboard">
        <img src="assets/layout/images/logo.svg" alt="logo">
    </a>

   

    <a class="p-link layout-topbar-menu-button layout-topbar-button" href="#" (click)="appMain.toggleTopMenu($event)">
        <i class="pi pi-ellipsis-v"></i>
    </a>
   

    <div class="layout-topbar-menu" [ngClass]="{'layout-topbar-menu-mobile-active':appMain.topMenuActive}">
        <p-button label="Create New Task" (click)="addTask()" icon="pi pi-plus" class="mr-2"></p-button>


        <a href="#" class="p-link layout-topbar-button">
            <i class="pi pi-calendar"></i>
            <span>Calendar</span>
        </a>
        <a  [routerLink]="['/dashboard']"class="p-link layout-topbar-button">
            <i class="pi pi-cog"></i>
            <span>Settings</span>
        </a>
        <a href="#"   class="p-link layout-topbar-button">
            <i class="pi pi-user"></i>
            <span>Profile</span>
        </a>
    </div>
    <app-create-task (btnClick)="addTask()"></app-create-task>
</div>