<div
  class="surface-0 flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden"
>
  <div class="grid justify-content-center p-2 lg:p-0" style="min-width: 70%">
    <div class="col-12 mt-5 xl:mt-0 text-center"></div>
    <div class="col-12 xl:col-6" style="border-radius: 56px; padding: 0.3rem">
      <div
        class="h-full w-full m-0 py-7 px-4"
        style="
          border-radius: 53px;
          background: linear-gradient(
            180deg,
            var(--surface-100) 38.9%,
            var(--surface-0)
          );
        "
      >
        <div class="text-center mb-5">
          <div class="text-900 text-3xl font-medium mb-3">
            Welcome,to TaskEasy.in
          </div>
          <span class="text-600 font-medium">Sign Up Here To Continue</span>
        </div>
        <form [formGroup]="signUpForm" (ngSubmit)="onSignUpSubmit()">
          <div class="w-full md:w-10 mx-auto">
            <label for="email1" class="block text-900 text-xl font-medium mb-2"
              >First Name</label
            >
            <input
              id="firstname"
              type="text"
              placeholder="First Name"
              pInputText
              class="w-full"
              style="padding: 1rem"
              name="firstname"
              formControlName="firstname"
              name="firstname"
            />
            <small
              *ngIf="signUpForm.get('firstname')!.errors?.['required']"
              class="p-error block mb-3"
              >*First Name is Required</small
            >

            <label for="email1" class="block text-900 text-xl font-medium mb-2"
              >Last Name</label
            >
            <input
              id="lastname"
              type="text"
              placeholder="Last Name"
              pInputText
              class="w-full"
              style="padding: 1rem"
              formControlName="lastname"
              name="lastname"
            />
            <small
              *ngIf="signUpForm.get('lastname')!.errors?.['required']"
              class="p-error block mb-3"
              >*Last Name is Required</small
            >

            <label for="email1" class="block text-900 text-xl font-medium mb-2"
              >Email</label
            >
            <input
              id="email1"
              type="text"
              placeholder="Email address"
              pInputText
              class="w-full"
              style="padding: 1rem"
              formControlName="email"
              name="email"
            />
            <small
              *ngIf="signUpForm.get('email')!.errors?.['required']"
              class="p-error block mb-3"
              >*Email Required</small
            >
            <small
              *ngIf="signUpForm.get('email')!.errors?.['email']"
              class="p-error block mb-3"
              >*Enter Valid Email</small
            >

            <label
              for="password1"
              class="block text-900 font-medium text-xl mb-2"
              >Password</label
            >
            <input
              id="password"
              type="password"
              placeholder="Password "
              pInputText
              class="w-full mb-3"
              style="padding: 1rem"
              formControlName="password"
              name="password"
            />
            <small
              *ngIf="signUpForm.get('password')!.errors?.['required']"
              class="p-error block mb-3"
              >*Password Required</small
            >
            <small
            *ngIf="signUpForm.get('password')!.hasError('minlength')"
            class="p-error block mb-3"
            >*Password Length not valid</small
          >
<!-- 
            <div class="flex align-items-center justify-content-between mb-5">
              <div class="flex align-items-center">
                <p-checkbox
                  id="rememberme1"
                  value="true"
                  styleClass="mr-2"
                  formControlName="password"
                  name="password"
                ></p-checkbox>
                <label for="rememberme1"
                  >I agree to the Terms and Conditions"</label
                >
              
              </div>
              <small
              *ngIf="signUpForm.get('term')!"
              class="p-error block mb-3"
              >*Accept Terms and Conditions</small
            >
            </div> -->
            <button
              pButton
              pRipple
              type="submit"
              label="Sign Up"
              class="p-button-outlined w-full mb-3"
            ></button>
            <p-divider align="center">
              <b>OR</b>
            </p-divider>
            <button
              pButton
              pRipple
              type="button"
              label="Login "
              class="w-full mb-3"
              (click)="onSignInClick()"

            ></button>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>
